* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  color: white;
}
body {
  background: url(/bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
